.App {
  text-align: center;
  overflow: hidden;

  color: white;
  margin: 0;
  padding: 0;
}
* {
  user-select: none;
  -webkit-user-select: none; /* Chrome, Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE/Edge */
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* index.css */
@keyframes slow-rotate {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* classe utilitaire simple */
.mobile-rotate {
  animation: slow-rotate 2s ease-in-out ;
  transform-origin: center;
  will-change: transform;
}



@keyframes pulse-shadow {
  0%, 100% {
    box-shadow: 0 0 15px rgba(82, 77, 211, 0.4);
  }
  50% {
    box-shadow: 0 0 25px rgba(82, 77, 211, 0.7);
  }
}

.pulse-shadow {
  animation: pulse-shadow 2s infinite ease-in-out;
}
